//- footer
-var date = new Date().getFullYear()
p(style="color: red; text-align: center") © #{date} 
    //- a(href="https://nafis-fuad.github.io", data-icon="octicon-star", data-show-count="true", aria-label="Star microsoft/typescript-node-starter on GitHub") Nafis Fuad. 
    | Nafis Fuad
    | All Rights Reserved
