ol.periodic-table
			li.hydrogen
				abbr(title='Hydrogen') H
			li#helium.noble-gas
				abbr(title='Helium') He
				span 2
			li.alkali
				abbr(title='Lithium') Li
			li.alkaline
				abbr(title='Beryllium') Be
			li#boron.metalloid
				abbr(title='Boron') B
			li.polyatomic-non-metal
				abbr(title='Carbon') C
			li.diatomic-nonmetal
				abbr(title='Nitrogen') N
			li.diatomic-nonmetal
				abbr(title='Oxygen') O
			li.diatomic-nonmetal
				abbr(title='Fluorine') F
			li.noble-gas
				abbr(title='Neon') Ne
			li.alkali
				abbr(title='Sodium') Na
			li.alkaline
				abbr(title='Magnesium') Mg
			li#aluminium
				abbr(title='Aluminium') Al
			li.metalloid
				abbr(title='Silicon') Si
			li.polyatomic-non-metal
				abbr(title='Phosphorus') P
			li.polyatomic-non-metal
				abbr(title='Sulphur') S
			li.diatomic-nonmetal
				abbr(title='Chlorine') Cl
			li.noble-gas
				abbr(title='Argon') Ar
			li.alkali
				abbr(title='Potassium') K
			li.alkaline
				abbr(title='Calcium') Ca
			li
				abbr(title='Scandium') Sc
			li
				abbr(title='Titanium') Ti
			li
				abbr(title='Vanadium') Ti
			li
				abbr(title='Chromium') Cr
			li
				abbr(title='Manganese') Mn
			li
				abbr(title='Iron') Fe
			li
				abbr(title='Cobalt') Co
			li
				abbr(title='Nickel') Ni
			li
				abbr(title='Copper') Cu
			li
				abbr(title='Zinc') Zn
			li
				abbr(title='Gallium') Ga
			li.metalloid
				abbr(title='Germanium') Ge
			li.metalloid
				abbr(title='Arsenic') As
			li.polyatomic-non-metal
				abbr(title='Selenium') Se
			li.diatomic-nonmetal
				abbr(title='Bromide') Br
			li.noble-gas
				abbr(title='Krypton') Kr
			li.alkali
				abbr(title='Rubidium') Rb
			li.alkaline
				abbr(title='Strontium') Sr
			li
				abbr(title='Yttrium') Y
			li
				abbr(title='Zirconium') Zr
			li
				abbr(title='Niobium') Nb
			li
				abbr(title='Molybdenum') Mo
			li
				abbr(title='Technetium') Tc
			li
				abbr(title='Ruthenium') Ru
			li
				abbr(title='Rhodium') Ro
			li
				abbr(title='Palladium') Pd
			li
				abbr(title='Silver') Ag
			li
				abbr(title='Cadmium') Cd
			li
				abbr(title='Indium') In
			li
				abbr(title='Tin') Sn
			li.metalloid
				abbr(title='Antimony') Sb
			li.metalloid
				abbr(title='Tellurium') Te
			li.diatomic-nonmetal
				abbr(title='Iodine') I
			li.noble-gas
				abbr(title='Xenon') Xe
			li.alkali
				abbr(title='Caesium') Cs
			li.alkaline
				abbr(title='Barium') Ba
			li.lanthanide
				abbr(title='Lanthanum') La
			li#cerium.lanthanide
				abbr(title='Cerium') Ce
			li.lanthanide
				abbr(title='Praseodymium') Pr
			li.lanthanide
				abbr(title='Neodymium') Nd
			li.lanthanide
				abbr(title='Promethium') Pm
			li.lanthanide
				abbr(title='Samarium') Sm
			li.lanthanide
				abbr(title='Europium') Eu
			li.lanthanide
				abbr(title='Gadolinium') Gd
			li.lanthanide
				abbr(title='Terbium') Td
			li.lanthanide
				abbr(title='Dysprosium') Dy
			li.lanthanide
				abbr(title='Holmium') Ho
			li.lanthanide
				abbr(title='Erbium') Er
			li.lanthanide
				abbr(title='Thulium') Tm
			li.lanthanide
				abbr(title='Ytterbium') Yb
			li.lanthanide
				abbr(title='Lutetium') Lu
			li#hafnium
				abbr(title='Hafnium') Hf
			li
				abbr(title='Tantalum') Ta
			li
				abbr(title='Tungsten') W
			li
				abbr(title='Rhenium') Re
			li
				abbr(title='Osmium') Os
			li
				abbr(title='Iridium') Ir
			li
				abbr(title='Platinum') Pt
			li
				abbr(title='Gold') Au
			li
				abbr(title='Mercury') Hg
			li
				abbr(title='Thallium') Tl
			li
				abbr(title='Lead') Pb
			li
				abbr(title='Bismuth') Bi
			li
				abbr(title='Polonium') Po
			li.metalloid
				abbr(title='Astatine') At
			li.noble-gas
				abbr(title='Radon') Rn
			li.alkali
				abbr(title='Francium') Fr
			li.alkaline
				abbr(title='Radium') Ra
			li.actinide
				abbr(title='Actinium') Ac
			li#thorium.actinide
				abbr(title='Thorium') Th
			li.actinide
				abbr(title='Protactinium') Pa
			li.actinide
				abbr(title='Uranium') U
			li.actinide
				abbr(title='Neptunium') Np
			li.actinide
				abbr(title='Plutonium') Up
			li.actinide
				abbr(title='Americium') Am
			li.actinide
				abbr(title='Curium') Cm
			li.actinide
				abbr(title='Berkelium') Bk
			li.actinide
				abbr(title='Californium') Cf
			li.actinide
				abbr(title='Einsteinium') Es
			li.actinide
				abbr(title='Fermium') Fm
			li.actinide
				abbr(title='Mendelevium') Md
			li.actinide
				abbr(title='Nobelium') No
			li.actinide
				abbr(title='Lawrencium') Lr
			li#rutherfordium
				abbr(title='Rutherfordium') Rf
			li
				abbr(title='Dubnium') Db
			li
				abbr(title='Seaborgium') Sg
			li
				abbr(title='Bohrium') Bh
			li
				abbr(title='Hassium') Hs
			li.unknown
				abbr(title='Meitnerium') Mt
			li.unknown
				abbr(title='Darmstadtium') Ds
			li.unknown
				abbr(title='Roentgenium') Rg
			li
				abbr(title='Copernicium') Cn
			li.unknown
				abbr(title='Nihonium') Cn
			li.unknown
				abbr(title='Flerovium') Fl
			li.unknown
				abbr(title='Moscovium') Mc
			li.unknown
				abbr(title='Livermorium') Lv
			li.unknown
				abbr(title='Tennessine') Ts
			li.unknown
				abbr(title='Oganesson') Og