extends layout

include mixins/tooltip
block content
    button#button(data-custom-open="modal-1" role="button") click me
    button#button(data-custom-open="modal-2" role="button") click me
    button#button(data-custom-open="modal-3" role="button") click me
    button#button(data-custom-open="modal-4" role="button") click me
    
    ul.nav
        li.nav__item
            a( href="javascript:;" class="nav__link outline" role="tooltip" aria-label="Its me. I am a leftist. Get it?" data-microtip-position="top-left") Top Left
        li.nav__item
            a( href="javascript:;" class="nav__link outline" role="tooltip" aria-label="I continue in single line unless you specify a size" data-microtip-position="top") Top
        li.nav__item
            a( href="javascript:;" class="nav__link outline" role="tooltip" aria-label="Emoji? No problem 😎" data-microtip-position="top-right") Top Right

    ol
        +tooltip("li","HI, i'm doing great", "top", "large", "its a good tooltip")    
        +tooltip("li","HI, i'm doing great", "bottom-left", "large", "its a good tooltip")    
        +tooltip("li","HI, i'm doing great", "bottom-right", "large", "its a good tooltip")    
        +tooltip("li","HI, i'm doing great", "top-left", "large", "its a good tooltip")    
        +tooltip("li","HI, i'm doing great", "top-right", "large", "its a good tooltip")    
        +tooltip("li","HI, i'm doing great, and yea, I'm doing pretty darn great. As great as a man and every ado in his  aisdfver ladilf eyou know??", "bottom", "large", "its a good tooltip")    

