doctype html
html(lang='en')
	head
		include includes/gtag
		include includes/meta
		include includes/fontslink
		
		script(src='/client/index.js')

	body
		include includes/header

		.container
			block content

		include includes/footer