doctype html
html(lang='en')
	head
		include includes/gtag
		include includes/meta
		include includes/fontslink
		//- if title === "Home"
			script( type="module" src='/client/index.js')
		//- else if title === "Periodic Table"
		//- 	script(type="module" src="/client/periodic.js")
		//- script( type="module" src='/client/index.js')
		script(src='/client/index.js')

	body
		include includes/header

		.container
			block content

		include includes/footer