mixin modal-2(elem, id)
    //- Modal Trigger
    a.waves-effect.waves-light.btn.modal-trigger(href='#modal1') Modal
    //- Modal Structure
    #modal1.modal.modal-fixed-footer
        .modal-content
            h4 Modal Header
            p A bunch of text
        .modal-footer
            a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Agree


//- rest: follow this doc: https://materializecss.com/modals.html#!