include displayValidProperties

mixin modal(elem, id)
    .modal.modal-fixed-footer(id=`modal-${id}`)
        .modal-content
            h4 #{elem.name}
            each val, index in elem
                //- p #{index.replace(/([a-z](?=[A-Z]))/g, '$1 ').toUpperCase()} :  
                +displayValidProperties(index, val)
        .modal-footer
            a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close


//- rest: follow this doc: https://materializecss.com/modals.html#!