:root {
    --microtip-transition-duration: 0.2s;
    --microtip-transition-delay: 0.1s;
    --microtip-transition-easing: ease-out;
    --microtip-font-size: 16px;
    --microtip-font-weight: bold;
    /* --microtip-text-transform: uppercase; */
}

body {
    /* background: red; */
    overflow-x: hidden;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.modal__header {
    color: rebeccapurple
}